group Build
	source https://api.nuget.org/v3/index.json
	framework: netcoreapp2.1
	storage: none

    nuget Fake.JavaScript.Npm
    nuget Fake.JavaScript.Yarn
	nuget FSharp.Core
	nuget BlackFox.Fake.BuildTask
	nuget Fake.Core.ReleaseNotes
	nuget Fake.DotNet.AssemblyInfoFile
	nuget Fake.DotNet.Paket
	nuget Fake.Tools.Git
	nuget Fake.Core.Target
	nuget Fake.DotNet.Cli
	nuget Fake.IO.FileSystem

group Server
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.1
    storage: none

    nuget FSharp.Core
    nuget Saturn 0.8
    nuget Thoth.Json.Giraffe 2.1
    nuget FSharp.Data

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fable.Core
    nuget Fable.Elmish 3.0.3
    nuget Fable.Elmish.Debugger 3.0.2
    nuget Fable.Elmish.React 3.0.1
    nuget Fable.Elmish.HMR 4.0.1
    nuget Fable.Fetch 2.0
    nuget Fable.React 5.2.6
    nuget Fulma 2.1
    nuget Fable.Recharts 1.1
    nuget Fable.FontAwesome 2.0
    nuget Fable.FontAwesome.Free 2.0

    clitool dotnet-fable 2.0.11
    nuget Thoth.Fetch 1.0